/*-------------GENERAL-----*/

.page-header2{padding-bottom:9px;border-bottom:1px solid #bfc6d2;}
.page-header2 p{font-size:1.2em;}
.label-big{font-size:1.2em;}

label.valid {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-size:13px;
  color: red;
}


/*----------HOME----------*/
.small_list{
	height:150px;
	overflow-y:scroll;
}

/*---------HEADER-----------*/
.custom-banner {
position: relative;
color: #fff;
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
background: #020031;
background: -moz-linear-gradient(45deg, #0d205e 0%, #396188 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0d205e), color-stop(100%,#396188));
background: -webkit-linear-gradient(45deg, #0d205e 0%,#396188 100%);
background: -o-linear-gradient(45deg, #0d205e 0%,#396188 100%);
background: -ms-linear-gradient(45deg, #0d205e 0%,#396188 100%);
background: linear-gradient(45deg, #0d205e 0%,#396188 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d205e', endColorstr='#396188',GradientType=1 );
-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.main-title{
	color: #fff;
	font-size:3.0em;
	font-weight:normal;
	font-family:'century gothic';
}
.main-title img{
	margin-top:-5px;
}
#menu{
	/* a laisser, meme vide*/
}
#menu.fixed {
  position: fixed;
  top: 0;
  width:100%;
  min-width: 960px;
}

.decal-menu{
	margin-right:20px;
}

li .btn_search{
	float: none;
padding: 10px 15px 10px;
color: #333333;
text-decoration: none;
text-shadow: 0 1px 0 #ffffff;
font-weight: bold;
border:none;
background:none;
}



/*----------LOGIN------------*/
.dropdown .dropdown-menu .nav-header2{padding-left:20px;padding-right:20px;}
.nav-header2{display:block;padding:7px 15px;font-size:14px;font-weight:bold;line-height:20px;color:#000000;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);text-transform:uppercase;}

.login-form{
	padding:15px 15px 0px 15px;
}

.login-form .remember-me{
	display:inline-block;
	padding-top:5px;
	margin-left:10px;
}

.divider2{*width:100%;height:1px;margin:9px 1px;*margin:-5px 0 5px;overflow:hidden;background-color:#b1bab9;border-bottom:1px solid #ffffff;}

 .btnGoogle {
      display: inline-block;
      background: #cc3732;
      color: white;
     width: 35%;
      margin-left:6%;
      padding-right:5%;
      border-radius: 5px;
    }
    .btnGoogle:hover {
      background: #e74b37;
      cursor: pointer;
    }
    span.iconGoogle {
      background: url('btn_google_32.png') transparent 10px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
    }
   
   .btnFacebook {
      display: inline-block;
      background: #34609e;
      color: white;
      width: 37%;
      margin-left:6%;
      padding-right:5%;
      border-radius: 5px;
    }
    .btnFacebook:hover {
      background: #4179be;
      cursor: pointer;
    }
    span.iconFacebook {
      background: url('btn_facebook_32.png') transparent 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 38px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      horizontal-align:center;
      margin-left:12%;
    }


.login .sign-up{
	margin-left: 25%;
width: 40%;
margin-bottom:10px;
}

.form-horizontal-menu .control-group{*zoom:1;}.form-horizontal .control-group:before,.form-horizontal .control-group:after{display:table;content:"";line-height:0;}
.form-horizontal-menu .control-group:after{clear:both;}
.form-horizontal-menu .control-label{float:left;width:70px;padding-top:5px;}
.form-horizontal-menu .controls{*display:inline-block;*padding-left:20px;margin-left:75px;*margin-left:0;}.form-horizontal .controls:first-child{*padding-left:75px;}
.form-horizontal-menu .help-block{margin-bottom:0;}
.form-horizontal-menu input+.help-block,.form-horizontal select+.help-block,.form-horizontal textarea+.help-block{margin-top:10px;}
.form-horizontal-menu .form-actions{padding-left:75px;}



/*---------CREATE ACCOUNT--------------*/

.create-account .divider2{*width:100%;height:1px;margin:9px 1px;*margin:-5px 0 5px;overflow:hidden;background-color:#b1bab9;border-bottom:1px solid #ffffff;}

.create-account .register{
	margin-left: 35%;
	width: 30%;
}
.create-account .nav-header3{padding-left:20px;padding-right:20px;}
.nav-header3{display:block;padding:14px;font-size:16px;font-weight:bold;line-height:20px;color:#000000;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);text-transform:uppercase;}

.form-horizontal-signup .control-group{*zoom:1;}.form-horizontal .control-group:before,.form-horizontal .control-group:after{display:table;content:"";line-height:0;}
.form-horizontal-signup .control-group:after{clear:both;}
.form-horizontal-signup .control-label{float:left;width:28%;padding-top:5px;text-align:right;}
.form-horizontal-signup .controls{*display:inline-block;*padding-left:20px;margin-left:31%;*margin-left:0;}.form-horizontal .controls:first-child{*padding-left:31%;}
.form-horizontal-signup .help-block{margin-bottom:0;}
.form-horizontal-signup input+.help-block,.form-horizontal select+.help-block,.form-horizontal textarea+.help-block{margin-top:10px;}
.form-horizontal-signup .form-actions{padding-left:31%;}

/*------------LISTE DE PROJETS------------*/
.div_project_list{
	padding-bottom:25px;
	margin-bottom:15px;
	border-bottom:1px solid #d2d2d0;
	font-weight:bold;
}

.title_project_list{
	margin-bottom:10px;font-family:inherit;font-size:18px;font-weight:bold;line-height:1;color:#3c73be;text-rendering:optimizelegibility;
}
.font_project_list{
	font-size:12px;
}
.description_project_list{
	text-align:justify;
	overflow-y:hidden;
	height:80px;
	font-weight:normal;
}
.fund_project_list a{
	margin-bottom:4px;
	width:40px;
}
.label_project_list{
	color:gray;
	font-size:0.9em;
	font-weight:normal;
}
.logo_project_list{
	max-width:110px;
	max-height:110px;
	background-color:white;
}
.reset_description_list, .reset_description_list *
{
	font-size:12px;
	margin-bottom:0px;
 color:black;
}
.reset_description_list h1,.reset_description_list h2,.reset_description_list h3,.reset_description_list h4,.reset_description_list h5,.reset_description_list h6{
	line-height:0px;
	margin-bottom:10px;
}

/*-------PROJECT PAGE------*/
.show_project_page{
	font-size:1.1em;
	
}
.project_logo{
	max-width:200px;
	max-height:200px;
	width:92%;
	background-color:white;
}

.description_project_page{
	text-align:justify;
	font-weight:normal;
	
}

.reset_description, .reset_description *
{
 	color:black;
}
.min_date_project{
	float:left;
}
.max_date_project{
	float:right;

}


/*--------RECHERCHE----------*/
.label_search_small{
	width:85px;
}



/*-----FOOTER-----------*/
footer {
	margin-top:50px;
	padding-top:20px;
	border-top: 1px solid silver;
	text-align: center;
	
}
/*.content-info {color: #999;background-image: url(../img/gray_jean.png);background-color: #f8f8f8;text-align: center;}*/



/*-----FORUM-----------*/
.forum table tr{
	height:50px;

}.forum table tr:first-child{
	font-weight:bold;
	 background-color: #F5F5F5;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.forum table tr td{
	padding-left:20px;
}
.forum table tr td a{
	color:black;
}
.forum table tr td a:hover{
	color:#3C73BE;
    cursor:pointer;
    text-decoration:none;
}
.forum table tr td:first-child{
	width:800px;
}

/*---------autre-------*/






